<form method="POST" action="http://localhost:8000/upload/" enctype="multipart/form-data">
	<label for="upload">File (Binary):</label>
	<input type="file" name="file" class="fileupload" /><br/>

	<input type="submit" value="Submit"/>
</form>